<div class=":className">
    <div from="id">
        <label for="id" content="label">: </label>
        <input id="id" name="id" type="text" size="20" placeholder=":placeholder" />
    </div>
    <div from="first-name">
        <label for="first-name" content="label">: </label>
        <input id="first-name" name="first-name" type="text" disabled=":disabled" size="20" placeholder=":placeholder" />
    </div>
    <div from="last-name">
        <label for="last-name" content="label">: </label>
        <input id="last-name" name="last-name" type="text" disabled=":disabled" size="20" placeholder=":placeholder" />
    </div>
</div>